{% layout "template/default-page-layout.liquid" %}

{% block content %}
<div class="container">
    <h1>Student Pass</h1>
    <p>
        A proof of concept Authentication Service for 
        colleges in FHDA district and the surrounding areas. 
    </p>
</div>
{% endblock %}

