{% layout "template/default-page-layout.liquid" %}

{% block content %}
<div class="container mt-5">

    <div class="text-center">
        <img draggable="false" class="register-account-image" src="./wolverine.svg" alt="Animal Logo">
    </div>

    <h1>Student Pass</h1>
    <p>
      What is Student Pass? Student pass is an open source 
      free to use platform for Developers to build apps around 
      you and your needs. We hope this application will be used someday 
      for food pantry, social, tutoring and other campus wide applications. 
    </p>

    <h4>Register Here</h4>

    <div class="mb-3">
        <label for="studentPassEmail" class="form-label">Email</label>
        <input autocomplete="email" type="email" class="form-control form-control-lg" id="studentPassEmail" placeholder="jbalboa@domain.edu">
    </div>

    <div class="mb-3">
        <label for="studentPassPassword" class="form-label">Password</label>
        <input autocomplete="new-password" type="password" class="form-control form-control-lg" id="studentPassPassword" placeholder="strong-generated-password">
        <small class="form-text text-muted">We highly recommend using the <a href="https://www.lastpass.com/password-generator" target="__blank" rel="noopener noreferrer">LastPass Password Generator</a> to make a unique secure password it's free to use.</small>
    </div>

    <div class="mb-3">
        <label for="studentPassName" class="form-label">Name</label>
        <input autocomplete="name" type="text" class="form-control form-control-lg" id="studentPassName" placeholder="John Balboa">
    </div>

    <div class="mb-3">
        <label for="studentPassSchool" class="form-label">School</label>
        <input type="text" class="form-control form-control-lg" id="studentPassSchool" placeholder="De Anza College">
    </div>

    <div class="mb-3">
        <label for="studentPassSchoolID" class="form-label">School Issued ID</label>
        <input type="text" class="form-control form-control-lg" id="studentPassSchoolID" placeholder="20565697">
    </div>

    <div class="register-account-action-row">
        <button class="btn btn-primary mb-5">
            Register
        </button>
    </div>

</div>
{% endblock %}
