:root {
    --interface-gray: #E9EBEE;
    --noselect-mixin: {
        -webkit-touch-callout: none;
          -webkit-user-select: none;
           -khtml-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none; 
                  user-select: none; 
      };
}

.landing-image {
    @apply --noselect-mixin;
    height: 180px;
}

.index-action-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
}


.register-account-image {
    @apply --noselect-mixin;
    height: 150px;
}

.register-account-action-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
}



.student-dashboard-application-card {
    border-color: var(--interface-gray);
    border-style: solid;
    border-top-width: 0.5px;
    border-bottom-width: 0.5px;
    border-right: 0;
    border-left: 0;
    margin-top: 10px;
    padding: 20px;
}
