<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Pass</title>
    <link rel="stylesheet" href="/bootstrap-material-design.css">
    <link rel="stylesheet" href="/studentpass.css">
</head>
<body>

{% block content %}
    <div class="container">
       This is the default content of 
       default.layout.liquid which means your
       page code is probably empty.
    </div>
{% endblock %}

</body>
</html>